{% if S_TOPIC_TITLE_COLOR %}
</dd>
<dt><label for="title_color">{{ lang('TITLE_COLOUR') ~ lang('COLON') }}</label></dt>
<dd>
    <input type="text" name="title_color" id="title_color" value="{% if TITLE_COLOR %}{{ TITLE_COLOR }}{% else %}{{ lang('NO_TITLE_COLOR') }}{% endif %}" class="inputbox" style="width: 75px; font-weight: bold; text-align: center;{% if TITLE_COLOR %} background-color: #{{ TITLE_COLOR }};{% endif %}" readonly /><input type="button" class="button1" onclick="$('#title_color').val('{{ lang('NO_TITLE_COLOR')|escape('js') }}')" value="{{ lang('RESET') }}" />
    <script>
        var title_color = '{{ TITLE_COLOR|json_encode }}';
        window.setInterval(function() {
            var title_color_text = document.getElementById('title_color'),
                title_color_value = title_color_text.value;
            if (title_color_value != title_color)
            {
                title_color = title_color_value;
                var noTitleColor = '{{ lang('NO_TITLE_COLOR')|escape('js') }}';
                if (title_color_value == noTitleColor)
                {
                    title_color_text.style.backgroundColor = '';
                }
                else
                {
                    title_color_text.style.backgroundColor = '#' + title_color_value;
                }
                var darkText = [noTitleColor, 'BFFF00', 'BFFF40', 'BFFF80', 'BFFFBF', 'BFFFFF', 'FFFF00', 'FFFF40', 'FFFF80', 'FFFFBF', 'FFFFFF'];
                title_color_text.style.color = darkText.indexOf(title_color_value) >= 0 ? '#000000' : '#FFFFFF';
            }
        }, 50);
    </script>
</dd>
<dd id="topic_title_color_palette_placeholder" class="color_palette_placeholder" data-orientation="h" data-height="10" data-width="13" data-target="#title_color">
{% endif %}
